
div.container-fluid.ms-color{
    background-color: brown;
    height: 100vh;
    position: relative;
}

div.container.ms-color{
    background-color: blue;
    height: 80vh;
}

div.container-fluid.ms-heigth{
    height: 100px;
    background-color: #fff;
}

div.ms-container{
    width: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}